<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>url shrinker</h1>
        <form action="" method="post">
        <label for="sub">enter url </label>
        <input type="url"  name="sub">
        <button type="submit" >submit</button>
        </form>
    </div>
    <table>
        <thead>
            
        </thead>


    </table>
</body>
</html>
